$footerheight:.96rem;
// mixin
@mixin bg-image( $url) {
    background-size: 100% 100%;
    background-image: url($url + '@2x.png');
//  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    @media only screen and (-webkit-min-device-pixel-ratio: 3){
     background-image: url($url + '@3x.png')
    }
}
@mixin ab-middle(){
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
//mix

//other
@mixin border-1px(
     $bgcolor: #ccc,
     $option:bottom
    ){
     position: relative;
     &::after{
        content:'';
        position: absolute;
        width:100%;
        height:1px;
        background: $bgcolor;
        left:0;
        @if($option == top){
          top:0;
        }@else{
            bottom:0;
        }
        
        @media only screen and (-webkit-min-device-pixel-ratio:2){
           transform: scaleY(0.5);
        }
     }
}

//other


